/*bg img*/
body {
    background-image: url("images/ultrakill-7-2-wp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    height: auto;
    width: 100%;
}

/*Body Content Container (prevents page from being too large and showing scroll bars)*/
.maincontainer {
    width: 100%;
    height: auto;
    margin:0px;
  }

/*center column with borders*/
.centercolumn {
    background: #000000ab;
    width: 85%;
    min-height: 100%;
    max-height:auto;
    margin: auto;
    padding: 0%;
    border-top: none;
    border-bottom: none;
    border-left: solid #ff8616 4px;
    border-right: solid #ff8616 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*oddball*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.fit-content {
    width:fit-content;
    height:fit-content;
}

/*banner*/
.banner {
    display: flex;
    width:  100%;
    height: fit-content;
    justify-content: center;
    margin: 0px;
}

/*socials container & buttons*/
.smedia-cont {
    width:fit-content;
    height:fit-content;
    border: #ff8616 solid 2px;
    background-color:#242424;
    margin-left:10px
}

.smedia-button {
    display:block;
    font-size:35px;
    padding: 1px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
    min-width:250px;
    text-align: center;
}

/*text stylization*/

/*white text with shadow*/
.wtbs {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
}

.box {
    width:fit-content;
    height:fit-content;
    border: #ff8616 solid 2px;
    background-color:#242424;
    margin: 0px
}

.corner-button {
    padding: 1px 6px;
    border: 1px outset;
    border-radius: 3px;
    text-decoration: none;
    font-size:15px;
    color:#ffffff;
    background-color:#000000;
}

.orange-border {
    border:#ff8616 solid 2px;
}

.margin {
    margin: 10px;
}