body {
    background-color:  rgba(106, 81, 128, 0.966);
  }
  p.pink {
    color: rgb(253, 121, 187);
  }
  p.red {
    color: rgb(255, 0, 0);
  }
  p.black {
    color: rgb(0, 0, 0);
  }
  p.VCR{
    font-family: "VCR_OSD_MONO"
  }
  @font-face{
    font-family: "VCR_OSD_MONO";
    src: local("fonts/vcr_osd_mono_1.001.ttf");
    src: local("fonts/vcr_osd_mono_1.001.woff");
    src: local("fonts/vcr_osd_mono_1.001.woff2")
  }