body {
  background-image: url("images/ultrakill-7-2-wp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #743aa3;
  height: 100%;
  width: 100%;
}

.bgdgrey {
  background:rgb(44, 44, 44)
}

.bgpurple {
  background: #66138d;
}

.dropshadow-white {
  text-shadow: 2px 2px #ffffff;
}

.dropshadow-black {
  text-shadow: 2px 2px #000000;
}

.pink {
  color: rgb(253, 121, 187);
}

.white {
  color: rgb(255, 255, 255);
}

.black {
  color: rgb(0, 0, 0);
}

.VCR {
  font-family: "VCR_OSD_MONO"
}

@font-face {
  font-family: "VCR_OSD_MONO";
  src: local("fonts/vcr_osd_mono_1.001.ttf") format(ttf);
  src: local("fonts/vcr_osd_mono_1.001.woff") format(woff);
  src: local("fonts/vcr_osd_mono_1.001.woff2") format(woff2);
}